
= form_for @product, {:action => "/admin", :id => "new_admin", :controller => 'admin'}  do |f|
  - if @product.errors.any?
    %li
      - @product.errors.full_messages.each do |msg|
        =msg
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :photo
    %br
    = f.text_field :photo
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :price
    %br
    = f.text_field :price
  %p
    = f.label :stock
    %br
    = f.text_field :stock
  %p= f.submit


