%h1 Inventory
%table
  %tr
    %th  Id
    %th{:class => "thumbnail"}  PhotoURL
    %th  Name
    %th  Description
    %th  Price
    %th  Stock
    %th  Edit / Delete
  - @products.each do |product|
    %tr
      %th
        =product.id

      %th{:class => "thumbnail"}
        =link_to image_tag( "#{product.photo}")
      %th
        =link_to "#{product.name}", admin_path(product)
      %th
        =product.description
      %th
        ="#{number_to_currency(product.price, :unit => "$")}"
      %th
        =product.stock
      %th
        = link_to "Edit", edit_admin_path(product)
        = link_to 'Destroy', admin_path(product), method: :delete, data: { confirm: 'Are you sure?' }

%div{:class => "bottom_link"}
  =link_to "Add a New Product", new_admin_path
  %br
  =link_to "View Main Page as Customer", products_path

