%h1 Max 'n' Mike's Webstore
%div{:class => "container"}
  - @products.each do |product|
    %div{:class => "product_box"}
      %p{:class => "show_link"}
        =link_to "#{product.name}", product_path(product)
      %br
      = link_to image_tag( "#{product.photo}")
      %div{:class => "price_box"}
        %p="Price: #{number_to_currency(product.price, :unit => "$")}"
        = link_to "Edit", edit_product_path(product)
        = link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }

  %div{:class => "bottom_link"}
    =link_to "Add a New Product", new_product_path
  %p
    =link_to "Log in as an Admin", admins_path
