%h1 Store
%div
  - @products.each do |product|
    %div
      =link_to "#{product.name}", product_path(product)
      %br
      = link_to image_tag( "#{product.photo}")
      %p="Price: $ #{product.price}"
      = link_to "Edit", edit_product_path(product)
      = link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }


%div
  =link_to "Add a New Product", new_product_path

